@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body {
  font-family: sans-serif;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @apply dark:bg-gray-900;
}

button {
  @apply cursor-pointer;
}

.chat-button {
  @apply text-white p-2 rounded-full flex items-center justify-center w-10 h-10 transform transition-transform hover:-translate-y-1 hover:translate-x-1;
}