@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body {
  font-family: sans-serif;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @apply dark:bg-gray-900;
}